<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Testing static files with handlebar js by {{name}}</h1>
    {{#each outdata.data}}
    <p>{{key}}</p>
    {{/each}}
  </body>
</html>
